@media screen and (min-width: 320px) {
	.content_container{
		position: relative;
    	width: 90%;
    	max-width: 90%;
    	margin-right: auto;
	    margin-left: auto;
    }
    .defcontainer{
    	position: relative;
    	width: 90%;
    	max-width: 90%;
	    margin-right: auto;
	    margin-left: auto;
    }
    .burger-menu{
        display: block;
    }
    .sports_06 .sports-container{
        width: 100%;
    }
    
}
@media screen and (min-width: 991px) {
	.sub-page_content_container{
		position: relative;
    	width: 900px;
    	max-width: 900px;
    	margin-right: auto;
	    margin-left: auto;
    }
	.content_container{
		position: relative;
    	width: 900px;
    	max-width: 900px;
    	margin-right: auto;
	    margin-left: auto;
    }
    .defcontainer{
    	position: relative;
    	width: 950px;
    	max-width: 950px;
	    margin-right: auto;
	    margin-left: auto;
    }
    .board{
        width: 100%;
    }
    .sports_06 .sports-container{
         border-bottom: #4b4c4e dashed 1px;
         background: #111113;
         width: 850px; 
         margin: 0 auto;
    }
    
}
@media screen and (min-width: 1024px) {
    .sub-page_content_container.charge{
        width: 1000px;
        max-width: 1024px;
    }
    .sub-page_content_container .left-sidebar-grid.right{
        width: 820px;
    }
}
@media screen and (min-width: 1200px) {
    .defcontainer{
    	position: relative;
    	width: 1000px;
    	max-width: 1000px;
	    margin-right: auto;
	    margin-left: auto;
    }
    .content_container{
    	position: relative;
    	width: 1100px;
    	max-width: 1100px;
	    margin-right: auto;
	    margin-left: auto;
    }
    .sub-page_content_container{
		position: relative;
    	width: 1060px;
    	max-width: 1060px;
    	margin-right: auto;
	    margin-left: auto;
    }
    .sub-page_content_container.charge{
        width: 1024px;
    }
    .sub-page_content_container .left-sidebar-grid.right{
        width: 834px;
    }
    
}
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.NP{
	padding: 0px;
}
.NM{
	margin: 0px;
}
.i-table{
	display: table;
	width: 100%;
}
.t-cell{
	display: table-cell;
}
.w-100{
	width: 100%;
}
.w-90{
	width: 90%;
}
.w-80{
	width: 80%;
}
.w-70{
	width: 70%;
}
.w-60{
	width: 60%;
}
.w-50{
	width: 50%;
}
.w-40{
	width: 40%;
}
.w-30{
	width: 30%;
}
.w-20{
	width: 20%;
}
.w-10{
	width: 10%;
}
.cleaner{
	clear: both;
}
