@media screen and (max-width: 1200px) {
	.subPage-grid-left{
		width: 674px;
	}
}
@media screen and (max-width: 1100px) {
	header nav ul li:not(:first-child){
		margin-left: 40px;
	}
}

@media screen and (max-width: 1024px) {
	.left-sidebar-header h5{
        text-align: left;
        text-indent: 18px;
    }
    .left-sidebar-grid.left{
        width:100%;
    }
    .sub-page_content_container .left-sidebar-grid.right{
        width: 100%;
    }
    .left-sidebar-links ul{
    	display: none;
    }
    .left-sidebar-links ul li{
    	text-align: left;
    }
    .left-sidebar-grid-content-header{
    	margin-top: 20px;
    }
    .charge-links{
    	display: block;
    }
    .sub-page_content_container{
    	padding: 0 10px;
    }
    .subPage-grid-left{
		width: 654px;
	}
	.search-bar{
		margin-top: 15px;
	}
}
@media screen and (max-width: 991px) {
	.sidebar,header,.top-bar{
		display: none;
	}
	.content_grid{
		width: 100%;
	}
	.page-wrapper{
		background-position: center bottom;
	}
	.newsbar{
		margin-top: 0px;
	}
	.mobile-top_bar{
		display: block;
	}
	.page-wrapper{
		margin-top: 48px;
	}
	.mobile-quick-access{
		display: block;
	}
	.sticky-sidebar-guide{
		width: 100%;
	}
	.subPage-grid-right{
		display: none;
	}
	.table-container{
		width: 100%;
	}
	.sub-table{
		width: 100%;
	}
}
@media screen and (max-width: 850px) {
	.news-holder,.purchaseInfo{
		float: none;
		clear: both;
	}
	.purchaseInfo{
		margin-top: 6px;
	}
}
@media screen and (max-width: 837px) {
	.charge-grid{
		margin-bottom: 10px;
	}
}
@media screen and (max-width:768px) {
	.customer-proc textarea{
		width: 100%;
	}
}
@media screen and (max-width: 600px) {
	.newsLabel{
		display: block;
	}
	.newsLabel .newsLabel-content{
		min-width: 65%;
	}
	.div-menu ul li:not(:last-child){
		width: 65px;
	}
}
@media screen and (max-width: 480px) {
	.search-bar button.pull-right{
	    width: 70%;
	    float: left!important;
	    margin-top: 5px;
    }
}
@media screen and (max-width: 420px) {
	.div-menu ul li:not(:last-child){
		
		width: 51px;
	}
	.div-menu ul li{
		padding: 9px 2px;
	}
	.div-menu ul li a{
		font-size: 12px;
	}
	.left-sidebar-grid-content .charge-grid:not(:first-child){
		margin-left: 0;
	}
}
@media screen and (max-width: 360px) {
	.search-bar button.search{
		display: block;
		width: 95%;
		margin-top: 5px;
	}
	.search-bar input{
		width: 70%;
	}
	.search-bar button.pull-right{
	    width: 95%;
	}
}
@media screen and (max-width: 338px) {
	.left-sidebar-grid-content-breadcrumbs{
		float: left;
	}
}


